/*
    This is a comment! :D
*/

* {
    background-color: #ccffff;
    font-family: 'Noto Sans', sans-serif;
    margin: 1em 2em 2em 2em;
    padding: auto;
}

@media only screen and (max-width: 600px) {
    * {
        background-color: lightcoral;
    }
}

p {
    margin: auto;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
    width: 75%;
    display: block;
    margin: auto;
}

img {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    border-radius: 4px;
    font-family: 'Merriweather', serif;
    padding: 10px 10px 10px 10px;
    position: static;
}

h2 {
    background-color: hsl(240, 100%, 15%);
    color: white;
}

.title {
    background-color: aquamarine;
    color: hsl(240, 100%, 15%);
}

aside {
    border-style: dashed;
    border-color: hsl(240, 100%, 15%);
    border-width: 0.25em;
    border-radius: 20px 10px;

    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 15px;

    max-width: 50%;
    flex-shrink: 3;
    flex-grow: 3;

    display: inline-block;
    position: relative;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.mygrid {
    display: grid;
    grid-template-columns: 33% 33% 35%;
    gap: 5px;
    justify-items: center;
    align-items: stretch;
    justify-content: space-evenly;
}

a[href^="https"] {
    color: rgb(102, 102, 255);
}

button:hover {
    background-color: navy;
    color: aquamarine;
}

svg:active {
    background-color: blueviolet;
}

span.people {
    color: green;
}

#wild-world {
    color: crimson;
}

ul li {
    color: darkslateblue;
}

nav > ul {
    background-color: darkseagreen;
}

p + ul {
    color: blueviolet;
    display: block;
}

h4 ~ p {
    color: navy;
}