* {
    background-color: #ccffff;
}

p {

}

h1,
h2,
h3,
h4 {

}

.title {
    background-color: aquamarine;
    color: hsl(240, 100%, 15%);
}

aside {
    border-style: solid;
    border-color: hsl(240, 100%, 15%);
    border-width: 0.5em;
    border-radius: 25% 10%;
}

span.people {

}

#wild-world {

}

a[href^="https"] {
    color: rgb(102, 102, 255);
}

button:hover {

}

ul li {

}

nav > ul {
    
}

p ~ ul {

}

h4 + p {

}